<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Aspiraciones</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Aspiraciones</li>
        </ol>
    </div>
    
</div>



<div class="row">

    <div class="col-md-12">
        
        <div class="card" style="overflow: auto;">
            
            
                    
                    <div class="card-block">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                
                                <h4 class="card-title"> Tabla de Aspiraciones</h4>

                                 <button class="btn btn-success" ng-click="Mostrar_tabla_De_Crear()">Nueva Aspiracion</button>

                                 <div class="table-responsive">

                                        <table class="table table-striped table-hover table-condensed">
                                                            <thead>
                                                               <tr>
                                                                    <th>#</th>
                                                                    <th>Aspiracion</th>
                                                                    <th>Descripcion</th>
                                                                    <th>Modificar</th>
                                                                </tr>
                                                            </thead>
                                                        <tbody>
                                                            <tr ng-repeat="aspi in Aspiraciones">

                                                                <!-- Tabla Aspiraciones  -->

                                                                    <td>
                                                                    {{$index + 1}}
                                                                    </td>
                                                                    
                                                                    <td ng-show="!aspi.Mostrar_Aspiraciones">
                                                                    {{aspi.aspiracion}}

                                                                    </td>

                                                                    <td ng-show="!aspi.Mostrar_Aspiraciones">
                                                                        {{aspi.descripcion}}
                                                                    </td >

                                                                    <td ng-show="!aspi.Mostrar_Aspiraciones">
                                                                         <button class="btn waves-effect waves-light btn-info " ng-click="Modificar_Aspiraciones(aspi)" uib-tooltip="Editar">
                                                                <i class="mdi mdi-pen"></i>
                                                                        </button>

                                                                         <button class="btn waves-effect waves-light btn-danger " ng-click="Delete_Aspiraciones(aspi)" uib-tooltip="Eliminar">
                                                                <i class="mdi mdi-window-close"></i>
                                                                            </button>

                 
                                                                    <td ng-show="Mostrar_Crear_Aspiraciones">
                                                                        <button class="btn waves-effect waves-light btn-info " ng-click="Insert_Aspiraciones(nueva_Aspiraciones)">Guardar</button>
                                                                        <button class="btn waves-effect waves-light btn-danger " ng-click="Ocultar_Aspiraciones()">X</button>            

                                                                    </td>

                                                                <!-- Tabla de editar -->

                                                                        <td ng-show="aspi.Mostrar_Aspiraciones"> 
                                                                         <input class="text-pequenio2" type="text" ng-model="aspi.aspiracion" name=""> 
                                                                        </td>

                                                                        <td ng-show="aspi.Mostrar_Aspiraciones"> 
                                                                         <input class="text-Grande" type="text" ng-model="aspi.descripcion" name=""> 
                                                                        </td>

                                                                        <td ng-show="aspi.Mostrar_Aspiraciones">
                                                                            <button class="btn waves-effect waves-light btn-info " ng-click="Modificar_Aspiraciones(aspi)"
                                                                            >Guardar</button>

                                                                            <button class="btn waves-effect waves-light btn-danger " ng-click="Ocultar_Tabla_de_Editar(aspi)"
                                                                            >Cancelar</button>
                                                                        </td> 

                                                               <!-- Tabla de crear -->

                                                                    <tr ng-show="Mostrar_tabla_crear" >

                                                                        <td>
                                                                           #  
                                                                        </td>

                                                                        <td > 
                                                                            <input class="text-pequenio2" type="text" ng-value="aspiracion" ng-model="nueva_Aspiraciones.aspiracion" name=""> 
                                                                        </td>

                                                                        <td > 
                                                                            <input class="text-pequenio2" type="text" ng-value="descripcion" ng-model="nueva_Aspiraciones.descripcion" name=""> 
                                                                        </td>

                                                                        <td >
                                                                            <button class="btn waves-effect waves-light btn-info " ng-click="Insert_Aspiraciones(nueva_Aspiraciones)">Guardar</button>

                                                                            <button class="btn waves-effect waves-light btn-danger " ng-click="Ocultar_Aspiraciones()">Cancelar</button>

                                                                        </td>

                                                               </tr>
                                                                
                                                            </tr>
                                                           
                                                                                                  
                                                        </tbody>
                                                    </table>
                                                </div>
                                             </div>
                                        </div>
                                    </div>

                                     <!-- Column -->
                                        
                                        
                                </div>
                              
                                
                            </div>
                        </div>
                        
                       
                    </div>

        </div>
    </div>
</div>