<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Votaciones</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Votaciones</li>
        </ol>
    </div>
    
</div>



  <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <center class="m-t-30"> <img src="images/users/5.jpg" class="img-circle" width="150" />
                                    <h4 class="card-title m-t-10">{{USER.Nombres}}</h4>
                                    <h6 class="card-subtitle">{{USER.Apellidos}}</h6>
                                    
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                                <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">Nombres</label>
                                        <div class="col-md-12">
                                            <input type="text" ng-model="USER.Nombres" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Apellidos</label>
                                        <div class="col-md-12">
                                            <input type="text" ng-model="USER.Apellidos" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Sexo</label>
                                        <div class="col-md-12">
                                            <input type="text" ng-model="USER.Sexo" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-md-12">Usuario</label>
                                        <div class="col-md-12">
                                            <input type="Text" ng-model="USER.Username" class="form-control form-control-line"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Contraseña</label>
                                        <div class="col-md-12">
                                            <input type="password" value="{{USER.Password}}" ng-model="USER.Password" class="form-control form-control-line">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12">Confirmar Contraseña</label>
                                        <div class="col-md-12">
                                            <input type="password" value="{{USER.Password}}" ng-model="USER.Password2" class="form-control form-control-line">
                                        </div>
                                    </div>

                                <div class="row">
                                      <div class="col-md-6">
                                        <p class="input-group">
                                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </p>
                                      </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button ng-click="Modificar_perfil(USER)" class="btn btn-success">Actualizar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                 
                </div>
          
        </div>