<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Control</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Control</li>
        </ol>
    </div>
    
</div>

<div class="row">

  <div class="col-md-12">
      
    <div class="card" >
         
        <div class="card-block">
            
            <div class="row">

                   <div class="col-sm-6">

                        <input class="btn btn-info" ng-repeat="punto in puntos" type="button" ng-click="Ver_Usuario(punto)" value="{{punto.nombre_punto}}" ng-click="Conectar()">

                        
                
                  </div>

            </div>

        </div>
  
      </div>       
          
    </div>
    
</div>      