
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Participantes</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Participantes</li>
        </ol>
    </div>
    
</div>



<div class="row">

    <div class="col-md-12">
        
        <div class="card" style="overflow: auto;">
            
            <uib-tabset active="active" >
                <uib-tab index="0" classes="profile-tab" heading="Votaciones">
                    
                    <div class="card-block">
                        
                        <div class="row">

                             <div class="col-md-12">

                                    <h4 class="card-title" uib-tooltip="Participantes"> Tabla de Participantes</h4>

                                     <button ng-click="Mostrar_tabla_De_Crear()" class="btn btn-success">Nuevo Participante</button>

                                      <div class="table-responsive">
                                    <table class="table table-striped table-hover table-condensed">
                                            <thead>
                                               <tr>
                                                    <th>#</th>
                                                    <th>Nombres</th>
                                                    <th>Apellido</th>
                                                    <th>Usuario</th>
                                                    <th>Contraseña</th>
                                                    <th>Sexo</th>
                                                    <th>Grupo</th>
                                                    <th>Votacion</th>
                                                    <th>Tipo</th>
                                                    <th style="min-width: 60px;">Modificar</th>

                                                </tr>

                                            </thead>

                                            <tbody>

                                                <tr ng-repeat="parti in Participantes">

                                                    <!--Tabla de Participantes-->

                                                    <td>
                                                         {{$index + 1}}
                                                    </td>

                                                    <td ng-show="!parti.Mostrar_Participante">
                                                         {{parti.Nombres}}
                                                    </td>

                                                    <td ng-show="!parti.Mostrar_Participante">
                                                         {{parti.Apellidos}}
                                                    </td>

                                                    <td ng-show="!parti.Mostrar_Participante">
                                                         {{parti.Username}}
                                                    </td>

                                                    <td ng-show="!parti.Mostrar_Participante">
                                                         {{parti.Password}}
                                                    </td>

                                                    <td ng-show="!parti.Mostrar_Participante">
                                                         {{parti.Sexo}}
                                                    </td>

                                                    <td ng-show="!parti.Mostrar_Participante">
                                                        {{parti.Grupo_id}}
                                                    </td>

                                                     <td ng-show="!parti.Mostrar_Participante">
                                                        {{parti.Nombre}}
                                                    </td>

                                                    <td ng-show="!parti.Mostrar_Participante">
                                                       {{parti.Tipo}}
                                                    </td>

                                                    <td ng-show="!parti.Mostrar_Participante">

                                                        <button class="btn waves-effect waves-light btn-info btn-sm" ng-click="Modificar_Participante(parti)"uib-tooltip="Editar">
                                                                <i class="mdi mdi-pen"></i>
                                                            </button>

                                                        <button class="btn waves-effect waves-light btn-danger btn-sm" ng-click="Delete_Participantes(parti)"uib-tooltip="Eliminar">
                                                                <i class="mdi mdi-window-close"></i>
                                                            </button>
                                                    </td>
     
                                                    <!--Tabla de editar Participante-->

                                                    <td ng-show="parti.Mostrar_Participante"> 
                                                        <input class="text-pequenio2" type="text" ng-model="parti.Nombres" name=""> 
                                                    </td>

                                                    <td ng-show="parti.Mostrar_Participante"> 
                                                        <input class="text-pequenio2" type="text" ng-model="parti.Apellidos" name=""> 
                                                    </td>

                                                     <td ng-show="parti.Mostrar_Participante"> 
                                                        <input class="text-pequenio2" type="text" ng-model="parti.Username" name=""> 
                                                    </td>

                                                    <td ng-show="parti.Mostrar_Participante"> 
                                                        <input class="text-pequenio2" type="text" ng-model="parti.Password" name=""> 
                                                    </td>

                                                    <td ng-show="parti.Mostrar_Participante"> 
                                                        <input class="text-pequenio" type="text" ng-model="parti.Sexo" name=""> 
                                                    </td>

                                                    <td ng-show="parti.Mostrar_Participante">
                                                        <input class="text-pequenio" type="text" ng-model="parti.Grupo_id" name=""> 
                                                    </td>

                                                    <td ng-show="parti.Mostrar_Participante">

                                                        <div  class="col-sm-4 " >
                                                                
                                                            <select ng-model="parti.Votacion_id"  >

                                                              <option  ng-repeat="vota in votaciones" value="{{vota.rowid}}">
                                                              {{vota.Nombre}}
                                                             </option>

                                                            </select>

                                                        </div>

                                                    </td>

                                                    <td ng-show="parti.Mostrar_Participante"> 
                                                        <input class="text-pequenio2" type="text" ng-model="parti.Tipo" name=""> 
                                                    </td>

                                                    <td ng-show="parti.Mostrar_Participante">
                                                        <button class="btn waves-effect waves-light btn-info " ng-click="Modificar_Participante(parti)"
                                                        >Guardar</button>
                                                        <button class="btn waves-effect waves-light btn-danger " ng-click="Ocultar_Tabla_de_Editar(parti)"
                                                        >Cancelar</button>
                                                    </td>

                                                    <!--Tabla de crear Participante-->  
                                                   
                                                   <tr ng-show="Mostrar_tabla_crear" >

                                                       <td>
                                                           #  
                                                        </td>

                                                        <td >
                                                         <input class="text-pequenio2" type="text" ng-value="Nombres" ng-model="Participante_nuevo.Nombres"> 
                                                        </td>

                                                        <td > 
                                                            <input class="text-pequenio2" type="text" ng-value="Apellidos" ng-model="Participante_nuevo.Apellidos"> 
                                                        </td>

                                                        <td > 
                                                            <input class="text-pequenio2" type="text" ng-value="Username" ng-model="Participante_nuevo.Username"> 
                                                        </td>

                                                        <td > 
                                                            <input class="text-pequenio2" type="text" ng-value="Password" ng-model="Participante_nuevo.Password"> 
                                                        </td>

                                                        <td > 
                                                            <input class="text-pequenio" type="text" ng-value="" ng-model="Participante_nuevo.Sexo" > 
                                                        </td>

                                                        <td > 
                                                            <input class="text-pequenio" type="text" ng-value="" ng-model="Participante_nuevo.Grupo_id" > 
                                                        </td>

                                                        <td > 

                                                            <div  class="col-sm-4 form-control text-pequenio2" >
                                                                
                                                                <select ng-model="Participante_nuevo.Votacion_id"  >

                                                                  <option ng-repeat="vota in votaciones" value="{{vota.rowid}}">
                                                                  {{vota.Nombre}}
                                                                  </option>

                                                                </select>

                                                            </div>
                                                    
                                                        </td>

                                                        <td> 
                                                            <input class="text-pequenio" type="text" ng-value="" ng-model="Participante_nuevo.Tipo" >  
                                                        </td>

                                                        <td>
                                                            <button class="btn waves-effect waves-light btn-info" ng-click="Insert_Participantes(Participante_nuevo)">Craer</button>
                                                            <button class="btn waves-effect waves-light btn-danger " ng-click="Ocultar_participantes()"
                                                            >Cancelar</button> 
                                                        </td>

                                                   </tr>
                                                    
                                                </tr>
                                               
                                                                                      
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                                    
                        
                    </div>
                    
              
                        
                        
                    </uib-tab>
            </uib-tabset>
            
        </div>
        
    </div>      
</div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->