<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Cuidador</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Cuidador</li>
        </ol>
    </div>
    
</div>

<div class="row">

  <div class="col-md-12">
      
    <div class="card" >
         
        <div class="card-block">
            
            <div class="row">

                   <div class="col-sm-12">

                   <h1>Participantes</h1> 

                        <span class=" btn btn-success col-sm-3 " ng-repeat="Participante in Participantes" 
                          ng-click="Ver_Control(Participante)" >


                              {{$index + 1 }}  {{Participante}} 

                        </span>
                
                  </div>
            </div>
        </div>
      </div>       
          
    </div>
    
</div>      