<div class="modal-header">
	    <h3 class="modal-title" id="modal-title"><label>Usuario</label> : {{punto.user_data.Username}}</h3>
	</div>

		<div class="modal-body" id="modal-body">

			 <label>Nombres</label>
			 	<div> {{punto.user_data.Nombres}} </div>
			 <label>Apellidos</label>
			 	<div> {{punto.user_data.Apellidos}} </div>
			 <LABEL>Tipo</LABEL>
				 <div> {{punto.user_data.Tipo}} </div>

			<label>Cambiar nombre del punto</label>
			<input type="text" ng-model="Cambiar_Npunto" name="">
			<input type="button" Value="Cambiar" ng-click="Cambiar_Punto()" name="">

		</div>
	<div class="modal-footer">
	   <button class="btn btn-default " type="button" ng-click="ok()">Cerrar</button>
</div>