<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Votar</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Votar</li>
        </ol>
    </div>
    
</div>

<div class="row">
   
    <div class="col-md-12">
        <div class="card" style="overflow: auto;">

            <uib-tabset active="active" >
                <uib-tab index="0" classes="profile-tab" heading="Static title">



                </uib-tab>

                <uib-tab index="1" classes="profile-tab" heading="Configuraciones">
                  Algunas configuraciones
                </uib-tab>
                
              </uib-tabset>


        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->