<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Votaciones</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Votaciones</li>
        </ol>
    </div>
    
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
      
        <div class="card">
            <div class="card-block bg-info">
                <h4 class="text-white card-title">Votaciones</h4>
                 </div>
            <div class="card-block">
                <div class="message-box contact-box">
                    <h2  class="add-ct-btn">
                        <button type="button" class="btn btn-circle btn-lg btn-success waves-effect waves-dark">+</button>
                    </h2>
                    <div class="message-widget contact-widget">
                        <!-- Message -->
                        <a href="#">
                            <div class="user-img"> <img src="images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                            <div class="mail-contnet">
                                <h5>Kevin Eslava</h5> <span class="mail-desc">kedaesva</span></div>
                        </a>
                        <!-- Message -->
                        <a href="#">
                            <div class="user-img"> <img src="images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                            <div class="mail-contnet">
                                <h5>Keinny Zuzette</h5> <span class="mail-desc">Keinny</span></div>
                        </a>

                        <a href="#">
                            <div class="user-img"> <img src="images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                            <div class="mail-contnet">
                                <h5>Jhan carlos</h5> <span class="mail-desc">JhanC118</span></div>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card" style="overflow: auto;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#Actualizaciones" role="tab">Actualizaciones</a> </li>
                <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#Alumnos" role="tab">Votaciones</a> </li>
                <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#settings" role="tab">Configuraciones</a> </li>
            </ul>
        
            <div class="tab-content">
                
               
                <div class="tab-pane active" id="Actualizaciones" role="tabpanel">
                    <div class="card-block">
                        <div class="row">
                            

            <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title"> Table de Votaciones</h4>

                                 <button ng-click="Mostrar_tabla_De_Crear()">Nueva Votacion</button>

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                           <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Alias</th>
                                                <th>Descripcion</th>
                                                <th>Username</th>
                                                <th>Modificar</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="vota in votaciones">

                                                <!-- Tabla de Votaciones  -->

                                                    <td>
                                                         {{$index + 1}}
                                                    </td>

                                                    <td ng-show="!vota.Mostrar_Votaciones">
                                                         {{vota.Nombres}}
                                                    </td>

                                                    <td ng-show="!vota.Mostrar_Votaciones"> 
                                                         {{vota.Alias}}
                                                    </td>

                                                    <td ng-show="!vota.Mostrar_Votaciones">
                                                         {{vota.descripcion}}
                                                    </td>

                                                    <td ng-show="!vota.Mostrar_Votaciones">
                                                         {{vota.Username}}
                                                    </td>

                                                    
                                                    <td ng-show="!vota.Mostrar_Votaciones">
                                                        <button class="btn waves-effect waves-light btn-info " ng-click="Modificar_Votaciones(vota)">
                                                        Editar</button>
                                                        <button class="btn waves-effect waves-light btn-danger " ng-click="Delete_Votaciones(vota)">
                                                        Eliminar</button>
                                                        
                                                    </td> 

                                                    <!-- Tabla de editar votaciones  -->

                                                    <td ng-show="vota.Mostrar_Votaciones"> 
                                                         <input class="text-pequenio2" type="text" ng-model="vota.Nombres" name=""> 
                                                    </td>

                                                    <td ng-show="vota.Mostrar_Votaciones"> 
                                                         <input class="text-pequenio2" type="text" ng-model="vota.Alias" name=""> 
                                                    </td>

                                                    <td ng-show="vota.Mostrar_Votaciones">
                                                         <input class="text-pequenio2" type="text" ng-model="vota.descripcion" name=""> 
                                                    </td>

                                                    <td ng-show="vota.Mostrar_Votaciones"> 
                                                         <input class="text-pequenio2" type="text" ng-model="vota.Username" name=""> 
                                                    </td>

                        
                                                    <td ng-show="vota.Mostrar_Votaciones">
                                                        <button class="btn waves-effect waves-light btn-info " ng-click="Modificar_Votaciones(vota)">
                                                        Guardar</button>
                                                        <button class="btn waves-effect waves-light btn-danger " ng-click="Ocultar_Tabla_de_Editar(vota)">
                                                        Cancelar</button>
                                                         <button class="btn waves-effect waves-light btn-warming " ng-click="Mostrar_Cambiar_contrasena(vota)">
                                                        Cambiar Contraseña</button>
                                                    </td>  

                                                <!-- Tabla de crear Votaciones  -->
                                               
                                               <tr ng-show="Mostrar_tabla_crear" >

                                                   <td>
                                                       #  
                                                    </td>


                                                    <td > 
                                                        <input class="text-pequenio2" type="text" ng-value="Nombres" ng-model="Votaciones_nuevo.Nombres" >
                                                    </td>

                                                    <td > 
                                                        <input class="text-pequenio2" type="text" ng-value="Alias" ng-model="Votaciones_nuevo.Alias" > 
                                                    </td>

                                                    <td > 
                                                        <input class="text-pequenio2" type="text" ng-value="descripcion" ng-model="Votaciones_nuevo.descripcion"> 
                                                    </td>

                                                    <td >
                                                         <input class="text-pequenio2" type="text" ng-value="Username" ng-model="Votaciones_nuevo.Username" > 
                                                    </td>

                                                    <td >
                                                        <button class="btn waves-effect waves-light btn-info " ng-click="Insert_Votaciones(Votaciones_nuevo)">Guardar</button>
                                                        <button class="btn waves-effect waves-light btn-danger " ng-click="Ocultar_Votacion()">
                                                        Cancelar</button>
                                                    </td>

                                               </tr>
   
                                            </tr>                                      
                                        </tbody>
                                    </table>

                                             <div ng-repeat="vota in votaciones">
                                                            
                                                     <div ng-show="vota.Cambiar_contrasena"> 

                                                        <label>Password</label>
                                                             <input  type="text" ng-model="vota.Primera_password" name="">

                                                         <label>Confimar Password</label>
                                                             <input  type="text" ng-model="vota.Comfirmar_Primera_password" name=""> 

                                                         <button ng-click="ocultar_Cambiar_contrasena(vota)">cancelar</button>

                                                         <button ng-click="Mostrar_Cambiar_contrasena(vota, Primera_password, Comfirmar_Primera_password)">Cambiar</button>

                                                    </div>

                                             </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                        </div>
                        <hr>
                        
                    </div>
                </div>
                <div class="tab-pane " id="Alumnos" role="tabpanel">
                    <div class="card-block">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <div class="sl-left"> <img src="images/users/1.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">

                                <div class="sl-right">
                                    <div> <a href="#" class="link">Kevin Eslava</a> <span class="sl-date">Hace :V</span>
                                        <p class="m-t-10">Calla Rata</p>
                                        <div class="m-t-20 row">     
                                        </div>
                                        <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">3 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 1 Love</a> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="images/users/3.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">Keinny</a> <span class="sl-date">Hace :V</span>
                                        <p class="m-t-10">//// </p>
                                    </div>
                                    <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="images/users/1.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right" >
                                    <div> <a href="#" class="link">Jhan Carlos</a> <span class="sl-date">Hace :V</span>
                                        <p class="m-t-10">Hola Llama</p>
                                        <div class="m-t-20 row">     
                                        </div>
                                        <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">10 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 0 Love</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Configuraciones" role="tabpanel">
                    <div class="card-block">
                        <form class="form-horizontal form-material">
                       
                            <div class="form-group">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>