<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Votaciones</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">Votaciones</li>
        </ol>
    </div>
    
</div>



<div class="row">

    <div class="col-md-12">
        
        <div class="card" >

                    
                    <div class="card-block">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                

                                    <H1>Bienvenido a la votacion</H1>

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                
                <div class="card" >       
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12">
                               
                                 <div>

                                    <button ng-show="!Moatrar_Contralos" ng-click="ver_Representante()" class="btn btn-primary"> siguiente </button>
                                    <button ng-show="Moatrar_Contralos" ng-click="ver_Contralor()" class="btn btn-primary"> siguiente </button>

                                      <div  ng-repeat="Aspi in Aspiraciones">

                                        <h1>{{Aspi.aspiracion}}</h1>

                                        <div ng-repeat="candidato in Aspi.Candidatos">
                                          
                                              
                                              <div class="col-sm-6" >

                                                <h2>{{candidato.Nombres}}</h2>


                                                     <img src="{{candidato.Foto }}" style="height: auto;" class="img img-thumbnail" >
                                            

                                              </div>


                                            
                                           </div>

                                      </div>
                                    </div>
                             </div>

                        </div>
                    </div>
                </div>
            </div>
          
        </div>




 
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->